---
layout: default
custom_head: <link rel="alternate" type="application/rss+xml" title="Partially Applied posts" href="/feed.xml" />
---

{% for post in site.posts %}
    <article class="post">
        <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
        <div class="post-info">
        <time datetime="{{ post.date | date: "%Y-%M-%d" }}">{{ post.date | date: "%Y-%m-%d" }}</time>
        <ul class="post-tags">
            {% for tag in post.tags %}
                <li><a href="{{ site.baseurl }}/tag/{{ tag }}">{{ tag }}</a></li>
            {% endfor %}
        </ul>
        </div>
        {{ post.excerpt }}
    </article>
{% endfor %}

<p class="rss-subscribe"><a href="{{ "/feed.xml" | prepend: site.baseurl }}" title="RSS Feed"><i class="fas fa-rss"></i></a></p>

