---
import "@styles/globals.css";
import { getCollection, getEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import PostMeta from "../../components/PostMeta.astro";

const { slug } = Astro.params;
if (!slug) throw new Error("Slug not found");
const normalizedSlug = slug.replace(/-draft$/, "");
const post = await getEntry("posts", normalizedSlug);

if (!post) throw new Error("No post found for this slug");
const { Content } = await post.render();

// Generate static pages
export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { slug: post.data.draft ? `${post.slug}-draft` : post.slug },
  }));
}
import { Comments } from "@components/Comments";
---

<Layout title={post.data.title}>
  <PostMeta
    title={`${post.data.draft ? "DRAFT: " : ""} ${post.data.title}`}
    date={post.data.date}
  />
  <Content />
  {
    !post.data.disableComments && !post.data.draft && (
      <div class="mt-12">
        <Comments client:load />
      </div>
    )
  }
</Layout>
