.page-header {
    display: flex;
    flex-direction: row;

    font-family: "Ubuntu Mono", monospace;

    box-sizing: border-box;
    margin: 0 auto;
    padding: 15px;
    max-width: 60em;
    width: 100%;

    a, a:visited, a:hover {
        color: inherit;
        font-family: inherit;
        text-decoration: none;
    }

    h1 {
        font-size: 22px;
        font-weight: normal;
        margin: 0;
        padding: 0;

        :after {
            content: " _";
        }
    }

    .main-menu {
        flex-grow: 1;
    }
}

.main-menu {
    font-size: 16px;
    margin: 0;
    padding: 0;

    ul {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: row;
        padding: 0;
        margin: 0;
        height: 100%;

        li {
            list-style-type: none;
            margin-right: 30px;

            .selected {
                text-decoration: underline;
            }
        }
    }
}
