.post {
    max-width: 60em;
    margin: 0 auto;

    p {
        line-height: 24px;
        margin: 6px 0;
    }

    h1 {
        font-size: 28px;
        margin: 14px 0 0;

        a {
            text-decoration: none;
        }
    }

    img {
        width: 100%;
    }
}

.with-tombstone:after {
    content: '\03BB';
    display: block;
    color: #eee;
    font-size: 28px;
    font-weight: bold;
    margin: 20px auto;
    text-align: center;
}

.post-info {
    color: #555;
    font-family: "Ubuntu Mono", monospace;

    a, a:hover, a:visited {
        color: inherit;
    }

    .post-tags {
        display: inline;
        margin: 0;
        margin-left: 2px;
        padding: 0;

        li {
            display: inline;
            text-decoration: underline;
        }
    }
}