.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    min-height: 100vh;
    max-width: 100%;
}

.content {
    padding: 0 15px;
    box-sizing: border-box;
}