body {
    color: #111;
    font-family: "Source Sans Pro", sans-serif;
    margin: 0;
}

/* LINKS */

a:link {
    color: #222;
}

a:visited {
    color: #444;
}

a:hover {
    color: black;
}

p.continue {
    text-align: right;
}

p.continue a:after {
    content: " \BB";
}
