---

---

<header class="bg-white">
    <div class="max-w-7xl mx-auto flex justify-between items-center p-4">
        <h1 class="text-xl font-bold text-gray-900">
            <a href="/">Ross Gardiner</a>
        </h1>
        <nav class="flex items-center space-x-4 text-gray-700">
            <a href="/posts">Posts</a>
        </nav>
    </div>
</header>
