---
import Header from "../components/Header.astro";
import MainContent from "../components/MainContent.astro";
import { SEO } from "astro-seo";

export interface Props {
  title: string;
  customTitle?: boolean;
  description?: string;
  ogType?: string;
}

const {
  title,
  customTitle = false,
  description,
  ogType = "website",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="The personal site of Ross Gardiner" />
    <meta name="viewport" content="width=device-width" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Ross Gardiner's blog"
      href={new URL("feed.xml", Astro.site)}
    />
    <meta name="generator" content={Astro.generator} />
    <title>{customTitle ? title : `${title} ⌁ Ross Gardiner`}</title>
    <SEO
      title="A Very Descriptive Title"
      description={description}
      openGraph={{
        basic: {
          title: customTitle ? title : `${title} ⌁ Ross Gardiner`,
          type: ogType,
          image: "",
        },
      }}
      extend={{
        link: [{ rel: "icon", href: "/favicon.ico" }],
      }}
    />
  </head>
  <body
    class="bg-gradient-to-r from-[#ff7e5f] to-[#feb47b] w-full min-h-screen bg-no-repeat bg-cover"
  >
    <Header />
    <MainContent>
      <slot />
    </MainContent>
    <footer class="text-center text-xs mt-4 mb-4">
      <a
        href="https://github.com/rossng/rossng.github.io/blob/main/README.md"
        class="text-gray-500">&copy;</a
      >
    </footer>
  </body>
</html>
